<ion-content padding center text-center>

  <img src="assets/icon/produk.png">
  <ion-card-header>
    <ion-card-title>Daftar Produk</ion-card-title>
  </ion-card-header>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    HP
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Laptop
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Hardcase
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Softcase
  </ion-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
  Tempered Glass
  </ion-button>
</ion-content>

